<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      Find Jobs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li *ngIf= "!_dataservice.loggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf= "!_dataservice.loggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf= "_dataservice.loggedIn()" class="nav-item">
          <a class="nav-link" style= "cursor:pointer" (click)="_dataservice.logoutUser()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
