<div class="" *ngIf="jobItems?.length > 0;else empty_content">
  <div *ngFor="let job of jobItems" class="job-container">
    <!-- job block -->
    <div class="job-block m-2"  (click)="clickedItem(job._id)">
      <div class="job-content  pl-3 pr-5 pt-4 pb-4">
        <h6 class="highlight-black-text">{{job.jobheading}}</h6>
        <p class="highlight-text pb-1">{{job.userInfo.other_details.c_name}}</p>

        <div class="row pb-2">
          <div class="col-md-2">
            <i class="fa fa-briefcase highlight-text pr-1" aria-hidden="true"></i>
            <span class="highlight-text">{{job.experience}}</span>
          </div>
          <div class="col-md-10">
            <i class="fa fa-map-marker highlight-text pr-1" aria-hidden="true"></i>
            <span class="highlight-text">{{job.userInfo.other_details.c_location}}</span>
          </div>
        </div>

        <div class="row pb-2">
          <div class="col-md-2">
            <span class="highlight-text">Key Skills : </span>
          </div>
          <div class="col-md-10">
            <p class="text-ellipse">{{job.keyskills}}</p>
          </div>
        </div>

        <div class="row pb-2">
          <div class="col-md-2">
            <span class="highlight-text">Job Description : </span>
          </div>
          <div class="col-md-10">
            <p class="text-ellipse">{{job.jobDescription}}</p>
          </div>
        </div>

      </div>
      <div class="job-block-bottom p-2">
        <div class="row">
          <div class="col-md-6">
            <span class="highlight-text">&#x20B9; </span>
            <span *ngIf="job.salarypackage" class="text-color">{{job.salarypackage}}</span>
          </div>
          <div class="col-md-6 text-right">
            Posted by <span class="highlight-text">{{job.userInfo.username}}, </span><span>{{job.lastUpdated | date: 'dd-MM-yyyy HH:mm aa'}}</span>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<ng-template #empty_content>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No Jobs Available</h4>
  </div>
</ng-template>
